@page
@model Restaurante.Pages.ContatoModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Restaurante.styles.css" asp-append-version="true" />
</head>

<section class="homes" id="home">
    <div class="home-contente">
        <h1><span>Essência Gourmet</span></h1>
        <div class="text-animate">
            <h3>Onde o Sabor se Encontra com a Sofisticação</h3>
        </div>
        <p>
           A Essência Gourmet é uma empresa que se destaca no mercado de alimentos finos, oferecendo produtos de alta qualidade que encantam os paladares mais exigentes. Com um foco em ingredientes naturais e técnicas artesanais, a Essência Gourmet busca proporcionar
            uma experiência gastronômica única. Seus produtos, que podem incluir molhos, conservas, especiarias e outros itens gourmet, são elaborados com atenção aos detalhes, garantindo sabor e frescor.
        </p>
        <p>
            Além disso, a empresa valoriza a sustentabilidade, promovendo práticas que respeitam o meio ambiente e apoiam produtores locais. A Essência Gourmet se posiciona como uma marca que une tradição e
            inovação, atraindo tanto chefs renomados quanto amantes da culinária que buscam elevar suas receitas. Com um portfólio diversificado,
            a empresa continua a conquistar espaço no mercado gourmet, sempre em busca de novas inspirações e sabores.
        </p>
        
    </div>
</section>

<header>
    <style>


        .homes {
            height: 80vh; /* Define a altura como 100% da altura da viewport */
            /* Define a largura como 100% da largura da viewport */
            display: grid;
            margin-top: 1%;
            justify-content: center;
            align-items: center;
            background-image: url('https://invexo.com.br/blog/wp-content/uploads/2023/01/olivo-cucina-e-pizzeria-restaurantes-jardim-oceanico-rio-de-janeiro-1024x679.jpg');
            background-size: cover; /* Faz a imagem cobrir toda a área */
            background-position: center;
            color: white; /* Cor do texto */
            text-align: center;
            border-radius: 20px;
        }

        .home-contente {
            width: auto; /* Largura máxima do conteúdo */
            /* Espaçamento interno */
            background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente para melhorar a legibilidade */
            border-radius: 20px; /* Cantos arredondados */
            height: auto;
            background-position: center;
            margin-left: auto;
            justify-content: center;
            align-items: center;
            margin-top: 5%;
        }

            .home-contente h1 {
                align-items: center;
            }

            .home-contente h3 {
                align-items: center;
            }

            .home-contente p {
                align-items: center;
            }
    </style>
</header>
